<%- include("partials/header.ejs") %>

  <h1>Edit Post</h1>
  <div class="form-container">
    <form action="/update/<%= id %>" class="update-post" method="post">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" value="<%= postList[id].title %>">
      <label for="body">Text</label>
      <textarea id="body" name="body"><%= postList[id].body %></textarea>
      <input type="submit" value="Update">
      <div class="edit-buttons">
        <a href="/delete/<%= id %>" id="delete">Delete</a>
        <a href="/">Cancel</a>
      </div>
    </form>
  </div>

<%- include("partials/footer.ejs") %>