<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<main>
  <h1>Some Blog</h1>
  <a href="/add" class="add-button">Add New Post</a>
    <div class="container">
    <% postList.forEach((post) => { %>
      <div class="post">
        <h2><%= post.title %></h2>
        <hr>
        <% const formatted = post.body.split("\n"); %>
        <% formatted.forEach((paragraph) => { %>
          <p id="post-body"><%= paragraph %></p>
        <% }) %>
        <div class="post-buttons">
          <a href="/edit/<%= post.id %>">Edit</a>
          <% if(post.updated) { %>
            <p>Updated <%= post.date_created %></p>
          <% } else { %>
            <p><%= post.date_created %></p>
          <% } %>
        </div>     
      </div>
    <% }); %>
  </div>
</main>

<%- include("partials/footer.ejs") %>